input {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	height: 35px;
	width: 260px;
	font-size: 16px;
	outline: none;
	border-style: groove;
}

input:valid {
  border: 2px solid rgb(65, 160, 64);
}

input:invalid {
  border: 2px solid red;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number], input[type=date] {
	-moz-appearance: textfield;
}

.input-add:focus {
	width: 95%;
	outline: 2px solid rgb(0, 180, 252);
}

.input-add {
	border-radius: 4px;
	height: 30px;
	width: 60%;
	font-size: 16px;
	outline: none;
	border-style: groove;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

.input-login {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border: 1px solid #00b4fcbf;
	height: 35px;
	width: 100%;
	font-size: 16px;
	outline: none;
	border-style: groove;
	background-color: #f8f8f852
}

input[type=search] {
	width: 130px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: #d5f1f2;
	background-position: 10px 10px;
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

input[type=search]:focus {
	width: 50%;
}