div.gallery {
	margin: 8px;
	border: 2px solid #d5f1f2;
	float: left;
	width: 180px;
	height: 300px;
}

div.gallery:hover {
	border: 2px solid green;
	color: red;
}

div.gallery img {
	border: 1px solid #ccc;
	width: 100%;
	height: auto;
	color: green;
}

div.desc {
	padding: 10px;
	text-align: center;
}